body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-repeat: repeat-y;
    background-size: 100% 100vh;
}

.parent {
    width: 100%;
    height: 99vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.bookBox {
    width: 250px;
    height: 400px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.bookBoxB {
    width: 250px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 2vh;
}
.child {
    width: 500px;
    height: 200px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#usernameField {
    font-family: "Georgia", serif;
    font-size: 14px;
    color: grey;
    border: none;
    outline: none;
    border-radius: 50px;
    height: 18%;
    width: 50%;
    text-align: center;
    margin-left: 2%;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

#passwordField {
    font-family: "Georgia", serif;
    font-size: 14px;
    color: grey;
    border: none;
    outline: none;
    border-radius: 50px;
    height: 18%;
    width: 45%;
    text-align: center;
    margin-left: auto;
    margin-right: 10%;
    margin-bottom: 5%;
}

#registerBut {
    font-family: "Georgia", serif;
    font-size: 14px;
    color: grey;
    border: none;
    outline: none;
    border-radius: 50px;
    width: 100px;
    height: 38px;
    opacity: 0.5;
    margin-left: 100px;
}

#submitBut {
    font-family: "Georgia", serif;
    font-size: 15px;
    color: grey;
    border: none;
    height: 18%;
    outline: none;
    width: 35%;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-left: 10%;
}

.textBox {
    position: relative;
    background-color: white;
    font-family: "Georgia", serif;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 50px;
    height: 10%;
    width: 120%;
    text-align: center;
    margin-top: 10%;
}

.text {
    position: absolute;
    left: 5%;
    position: relative;
    background-color: white;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 50px;
    width: 110%;
    text-align: center;
    line-height: 24px;
}

.reviews {
    position: relative;
    background-color: white;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 50px;
    height: 40%;
    width: 120%;
    text-align: center;
    margin-top: 50%;
    overflow-y: auto;
}

#registerButS {
    font-family: "Georgia", serif;
    font-size: 14px;
    color: grey;
    border: none;
    outline: none;
    border-radius: 50px;
    width: 100px;
    height: 38px;
    opacity: 0.5;
    margin-left: 40px;
    margin-top: -70px;
}

#registerButr {
    font-family: "Georgia", serif;
    font-size: 14px;
    color: grey;
    border: none;
    outline: none;
    border-radius: 50px;
    width: 100px;
    height: 38px;
    opacity: 0.5;
    margin-left: 100px;
}

.result {
    display: none;
    margin-top: 50px;
}

#isbnBox {
    display: none;
}

#reviewBox {
    margin-top: 5%;
}

#submitReview {
    border-radius: 20%;
}

::-webkit-scrollbar {
    display: none;
}