<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <div id="parent">
            <textarea name="name" id="input"></textarea>
            <button onclick="userpass()" id="button1"></button>
            <textarea name="message" id="message"></textarea>
        </div>
    </body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        //////////////////
        var socket = io();
        socket.on('connect', function() {
            socket.emit('con', {data: 'I\'m connected!'});
        });
        //////////////////
        function userpass() {
            var userName = document.getElementById("input").value;
            socket.emit('username', {data: userName})
            console.log(userName)
        }
    </script>
</html>