<!DOCTYPE html>
    <html>
        <head>
            <title>Book Info</title>
            <link rel="stylesheet" type="text/css" href="../static/style.css">
        </head>
        <body>
            <div class="parent">
                <div class="bookBox">
                    <div class="textBox"><p class="text">{{bookinfo[1]}}</p></div>
                    <div class="textBox"><p class="text">{{bookinfo[2]}}</p></div>
                    <div class="textBox"><p class="text">{{bookinfo[3]}}</p></div>
                    <div class="textBox"><p class="text">{{bookinfo[0]}}</p></div>
                    <div class="reviews"></div>
                </div>
            </div>
        </body>
    </html>