<!DOCTYPE html>
    <html>
        <head>
            <title>Books</title>
            <link rel="stylesheet" type="text/css" href="../static/style.css">
        </head>
        <body>
            <div class="parent">
                <div class="bookBoxB">
                    <form action="/book" id="forma" method="post">
                        {% for book in sbooks %}
                        <input type="text" name="result" id="result" class="result">
                        <div onClick="submitForm('{{book[0]}}');"><p class="text">{{book[1]}} by {{book[2]}}</p></div>
                        {% endfor %}
                    </form>
                </div>
            </div>
            <script>
                document.getElementById("result").style.display = 'none';
                function submitForm(data) {
                    document.getElementById("result").setAttribute("value", data);
                    var form = document.getElementById("forma");
                    form.submit();
                }
            </script>
        </body>
    </html>