<!DOCTYPE html>
    <html>
        <head>
            <title>Book Info</title>
            <link rel="stylesheet" type="text/css" href="../static/style.css">
        </head>
        <body>
            <div class="parent">
                <div class="bookBox">
                    <div class=""><p class="text">ISBN: {{bookinfo[0][0]}}</p></div>
                    <div class=""><p class="text">{{bookinfo[0][1]}}</p></div>
                    <div class=""><p class="text">{{bookinfo[0][2]}}</p></div>
                    <div class=""><p class="text">{{bookinfo[0][3]}}</p></div>
                    <div class=""><p class="text">Average rating on GR: {{average}} </p></div>
                    <div class=""><p class="text">Rating count on GR: {{count}}</p></div>
                    <div class="reviews" id="scrollingBox">
                        {% if userid == False %}
                            <form action="/review" method="post">
                                <input type="text" name="isbn" id="isbnBox" value="{{bookinfo[0][0]}}">
                                <input type="text" name="review" id=reviewBox required>
                                <input type="number" min="1" max="5" step="1" name="rating" id=rating required>
                                <button type="submit" name="submit" id="submitReview">:)</button>
                            </form>
                        {% endif %}
                        {% for review in reviews %}
                            <div class="reviewDiv">{{review[2]}}<br>RATED: {{review[3]}} STARS</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </body>
    </html>