<!DOCTYPE html>
    <html>
        <head>
            <title>Search</title>
            <link rel="stylesheet" type="text/css" href="../static/style.css">
        </head>
        <body>
            <div class="parent">
                <form action="/search" method="POST">
                    <div class="child">
                        <input id="passwordField" type="text" name="search" placeholder="">
                        <button id="submitBut" type="submit" name="submitBut">Search</button>
                    </div>
                </form>
            </div>
        </body>
    </html>