<!DOCTYPE html>
    <html>
        <head>
            <title>Login</title>
            <link rel="stylesheet" type="text/css" href="../static/style.css">
        </head>
        <body>
            <div class="parent">
                <div class="child">
                    <input id="passwordField" type="text" name="username" placeholder="">
                    <button id="submitBut" type="button" name="submitBut">Search</button>
                </div>
            </div>
        </body>
    </html>