<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> 
    </head>
    <body>
        <a href="{% url 'logout' %}">Logout</a>
        <h1>Toppings</h1>
        <ul>
            {% for topping in toppings %}
                <li>
                    {{ topping }}
                </li>
            {% endfor %}
        </ul>
        <h1>Subs</h1>
        <ul>
            {% for subs in Sub %}
                <li>
                    {{ subs }}
                </li>
            {% endfor %}
        </ul>
        <h1>Pasta</h1>
        <ul>
            {% for pastas in Pasta %}
                <li>
                    {{ pastas }}
                </li>
            {% endfor %}
        </ul>
        <h1>Salad</h1>
        <ul>
            {% for salad in Salads %}
                <li>
                    {{ salad }}
                </li>
            {% endfor %}
        </ul>
        <h1>Dinner platters</h1>
        <ul>
            {% for plate in Dinner %}
                <li>
                    {{ plate }}
                </li>
            {% endfor %}
        </ul>
        <h1>Orders:</h1>
        <h2>Pizza</h2>
        <form action="{% url 'pizza' %}" method="post">
            {% csrf_token %}
            <select name="pizzaKind">
                {% for kinds in kind %}
                    <option value="{{ kinds }}">{{ kinds }}</option>
                {% endfor %}
            </select>
            <select name="pizzaSize">
                {% for sizes in size %}
                    <option value="{{ sizes }}">{{ sizes }}</option>
                {% endfor %}
            </select>
            <select id="pizzaSelect"name="pizzaName">
                <option value="Cheese">Cheese</option>
                <option value="1 topping">1 topping</option>
                <option value="2 toppings">2 toppings</option>
                <option value="3 toppings">3 toppings</option>
                <option value="Special">Special</option>
            </select>
            <input type="submit"/>
        </form>
        <h2>Subs</h2>
        <form action="{% url 'sub' %}" method="post">
            {% csrf_token %}
            <select name="subName">
                {% for subs in Sub %}
                    <option value="{{ subs }}">{{ subs }}</option>
                {% endfor %}
            </select>
            <select name="subSize">
                {% for sizes in size %}
                    <option value="{{ sizes }}">{{ sizes }}</option>
                {% endfor %}
            </select>
            <input type="submit"/>
        </form>
        <h2>Pasta</h2>
        <form action="{% url 'pasta' %}" method="post">
            {% csrf_token %}
            <select name="pastaName">
                {% for pastas in Pasta %}
                    <option value="{{ pastas }}">{{ pastas }}</option>
                {% endfor %}
            </select>
            <input type="submit"/>
        </form>
        <h2>Salads</h2>
        <form action="{% url 'salad' %}" method="post">
            {% csrf_token %}
            <select name="saladName">
                {% for salad in Salads %}
                    <option value="{{ salad }}">{{ salad }}</option>
                {% endfor %}
            </select>
            <input type="submit"/>
        </form>
        <h2>Dinner Platters</h2>
        <form action="{% url 'dinner' %}" method="post">
            {% csrf_token %}
            <select name="dinnerName">
                {% for plate in Dinner %}
                    <option value="{{ plate }}">{{ plate }}</option>
                {% endfor %}
            </select>
            <select name="dinnerSize">
                {% for sizes in size %}
                    <option value="{{ sizes }}">{{ sizes }}</option>
                {% endfor %}
            </select>
            <input type="submit"/>
        </form>
    </body>
    <script>
        
    document.addEventListener('input', function (event) {
        if (event.target.id !== 'pizzaSelect'){
            return
        }
        if (event.target.value === '1 topping'){
            alert("1 topping working")
        }
        if (event.target.value === '2 toppings'){
            alert("2 toppings working")
        }
        if (event.target.value === '3 toppings'){
            alert("3 toppings working")
        }
    })

    </script>
</html>