<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> 
    </head>
    <body>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input name="username" type="text" placeholder="Username" required/>
            <input name="password" type="password" placeholder="Password" required/>
            <input type="submit" value="Login"/>
        </form>
        <a class="loginout" href="{% url 'register' %}">Register</a>
    </body>
</html>