<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> 
    </head>
    <body>
        <a href="{% url 'login' %}">Login</a>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input name="username" type="text" placeholder="Username" required/>
            <input name="password" type="password" placeholder="Password" required/>
            <input name="email" type="text" placeholder="Email" required/>
            <input name="firstName" type="text" placeholder="First Name" required/>
            <input name="lastName" type="text" placeholder="Last Name" required/>
            <input type="submit" value="Login"/>
        </form>
    </body>
</html>