body {
    background: rgb(167, 209, 240);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
}
#input {
    font-size: larger;
    text-align: center;
    resize: none;
    vertical-align: middle;
    height: 25px;
    outline: none;
    border-radius: 10px;
    margin-bottom: 1%;
    width: 80%;
}

#message {
    resize: none;
    font-size: medium;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    outline: none;
    width: 100%;
}

#parent {
    margin-top: 10vh;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
}

#button1 {
    width: 16%;
    height: 20px;
    border-radius: 5px;
    border-color: black;
    outline-width: 10px;
    outline-offset: -3px;
    outline-color: black;
}