body {
    background: rgb(167, 209, 240);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
}
#input {
    font-size: larger;
    text-align: center;
    resize: none;
    vertical-align: middle;
    height: 25px;
    outline: none;
    border-radius: 10px;
    margin-bottom: 1%;
    width: 80%;
}

#message {
    resize: none;
    font-size: medium;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    outline: none;
    width: 100%;
}

#parent {
    margin-top: 10vh;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
}

#button3 {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    border-color: black;
    outline: none;
    margin-left: 1.9%;
}

#button3:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

#button3:active{
    background-color: red;
    color: black;
    transition: 0.05s;
}

#button1 {
    width: 16%;
    height: 20px;
    border-radius: 5px;
    border-color: black;
    outline: none;
}

#button1:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

#button1:active{
    background-color: red;
    color: black;
    transition: 0.05s;
}

#messageBoard {
    width: 50%;
    background-color: rgba(105, 213, 246, 0.2);
    border-radius: 20px;
    border-color: black;
    height: fit-content;
    overflow: scroll;
    margin-right: auto;
    margin-left: auto;
    height: 50vh;
}

.messages {
    width: 100%;
    color: black;
    margin-left: 10px;
    margin-top: 5px;
}

#channelHolder {
    width: 20%;
    display: flex;
    flex-direction: column;
}

#channel {
    resize: none;
    font-size: medium;
    text-align: center;
    height: 20px;
    border-radius: 10px;
    outline: none;
    width: 100%;
}

#button2 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    border-radius: 5px;
    border-color: black;
    outline: none;
}

#button2:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

#button2:active{
    background-color: red;
    color: black;
    transition: 0.05s;
}

.usernameDiv {
    font-size: 30px;
    color: black;
    text-align: center;
    margin-bottom: -25px;
}

#channels {
    width: 100%;
    height: fit-content;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

#channelHolder {
    position: absolute;
    top: 10vh;
    width: 20%;
}

.channelDiv {
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 75%;
    background-color: rgba(22, 167, 211, 0.2);
    border: black;
    border-width: 3px;
    border-radius: 10px;
    margin-top: 5px;
    outline: none;
    font-size: 24px;
}

.channelDiv:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.channelDiv:active{
    background-color: red;
    color: black;
    transition: 0.05s;
}